<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Documentação
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Suporte </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> FAQ </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            Desenvolvido por
            <a href="#">Prof. Clayton Rodrigues</a> e <a href="#">Prof. Nilton Barros</a>
            <i class="fa fa-copyright" aria-hidden="true"></i> 2024
        </div>
        <div>
            <a href="../../index.html" class="logo">
                <img
                        src="../../assets/img/kaiadmin/logochess.svg"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="30"
                />
            </a>
        </div>
    </div>
</footer>
</body>
</html>